body{
    background-color: #F2E9E4;
  }

  /* cart style */
  .modal-dialog.modal-cart{
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px;
  }
  
  .modal-content.modal-cart{
    height: 100%;
  }
  /* end cart style */
  
  /*start flip*/
  .flip-card{
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 500px;
  }
  
  .flip-card-inner{
    position: relative;
    width: 100%;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
   
  }
  
  .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .front{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 500px;
  }
  
  .back{
    position: absolute;
    backface-visibility: hidden;
    background-color: #CB997E;
    width: 100%;
    height: 500px;
    transform: rotateY(180deg);
    color:black;
    text-align: left;
    padding-top: 10%;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /*end flip*/
  
  .card-img-top {
      height: 420px;
      object-fit: cover;
  }
  
  .img-fluid {
      height: 480px;
      width: 630px;
  }
  
  .img-fluid2{
      height: 100px;
      width: 100px;
      margin-left: 15px;
      margin-right: 15px;
  }
  
  .card{
      background-color: #F2E9E4;
      border-color:  #F2E9E4;
  }

  .card-trending {
    background-color: #A68A64;
    color: white;
    font-size: 16px;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .accordion {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 60px;
    }
    
    .accordion-item {
      margin-bottom: 20px;
      border:none;
    }
    
    .accordion-title {
      color: black;
      font-weight: bold;
      background: #DDBEA9;
      padding-left: 10px;
      padding-top: 20px;
      cursor: pointer;
      transition: background 1s;
      height: 60px;
      text-align: left;
    }
    
    .accordion-title:hover {
      background: #CB997E;
    }
    
    .accordion-content {
      background: #F2E9E4;
      font-size: 15px;
      padding-left: 10px;
      padding-top: 20px;
      height: 80px;
    }
  
    .contact-info-fluid {
      background-image: url('../website_photos/contactInfoEnd.jpg'); 
      background-size: cover;
      color: white;
      font-weight: bold;
      padding-left: 50%;
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: left;
      }
  
  
    /*Nav bar 1*/
    .navbar-brand {
      margin-right: auto;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  
  .business{
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color:white;
  }
  
  a:hover {
    color: white;
    
  }
    
    /* Estilos para los botones en el extremo derecho */
    .navbar-nav {
      display: inline;
      align-items: right;
    }
    
    .buttonFirst {
      padding: 8px 10px;
      background-color: #B08968;
      color: white;
      border-radius: 4px;
      font-size: 17px;
      cursor: pointer;
      margin-left: 5px;
      border:none;
      font-weight:bold;
      font-family:'Courier New';
      padding-right: 20px;
    }

    /* remove blue hyperlink ruining our beautiful styling */
    a.about:link {
        color: white;
        text-decoration: none;
    }

    a.about:visited {
        color: white;
        text-decoration: none;
    }
  
    /*Nav bar 2*/
    .navbar {
      background-color: #432818;
      overflow: hidden;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
    
    .left-links {
      list-style-type: none;
      padding-left: 20px;
      margin-left: 0;
      display: flex;
    }
  
    
    .left-links li {
      margin-right: 45px;
      font-size: 19px;
      }
    
    .left-links a {
      text-decoration: none;
      color: white;
     
    }
    
    .right-section {
      display: flex;
      align-items: center;
    }
    
    .search-bar {
      padding: 8px;
      margin-right: 10px;
    
    }
    
    .cart-button {
      padding: 8px 15px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 250px;
    }
    
    .cart-button:hover {
      background-color: #218380;
    }
  
  
  /*End*/
  
  
  